<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start"> <ion-back-button defaultHref="chat-dashboard"></ion-back-button> </ion-buttons>
    <ion-title>Inner page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-content >

  </ion-content>
</ion-card>
</ion-content>
<ion-footer>
    <!-- <ion-toolbar>
       <ion-input placeholder="Enter Input"></ion-input>
      </ion-toolbar> -->
      <ion-item class="InputBorderTop">        
          <ion-input clearInput type="text"></ion-input> <ion-label> <ion-icon name="send" strong></ion-icon></ion-label>
       </ion-item>
</ion-footer>
