<ion-header>
  <ion-toolbar>
   <h2><b class="PaddingSet" >Chats</b></h2>
  </ion-toolbar>
</ion-header>

<ion-content class="MainContainer">
<div >

    <div class="Tabs">
      <table width="100%">
        <tbody>
          <tr class="trBottom">
            <td class="Align-center tdHeight" [ngStyle]="{ 'border-bottom' : isActiveP ? '5px solid #951555' : 'white'  }"  >
                <a size="small" (click)="PrivateClick()"  class="CursorCSS"><b class="TabsColorCode">Private</b></a>
            </td>
            <td class="divider Align-center" [ngStyle]="{ 'border-bottom' : isActiveG ? '5px solid #951555' : 'white'  }">
                <a size="small"  (click)="GroupClick()" class="CursorCSS"><b class="TabsColorCode">Group</b></a>    
              </td>
          </tr>
        </tbody>
      </table>
         
      </div>
 
  <div *ngIf="private" class="marginTopCSS">

      <ion-list *ngFor="let item of itemsPrivate" class="contentbox">
          <ion-item class="RemoveBorderBottom">
                  <ion-avatar item-start>
                      <img src="{{ item.img }}" width="50" height="50">
                    </ion-avatar>
                    <ion-label class="marginleftCSS">
                        <h2 ><b class="Align-left">{{ item.Name }}</b> <span  class="Align-right ContentFontSize"> {{ item.time }}</span></h2>
                        <br>
                        <h3 class="ContentFontSize" (click)="GoToInnerPage(item.Name)">{{ item.Data }} <span class="Align-right" > <ion-badge (click)="GoToInnerPage(item.Name)" color="success">{{ item.Count }}</ion-badge></span></h3>
                      </ion-label>
           </ion-item>
        </ion-list>

      
  </div>




  <div *ngIf="group" class="MainContainer marginTopCSS">
      
           <ion-list *ngFor="let item of itemsGroup" class="contentbox">
              <ion-item class="RemoveBorderBottom">
                      <ion-avatar item-start>
                          <img src="{{ item.Icon }}" width="50" height="50">
                        </ion-avatar>
                        <ion-label class="marginleftCSS">
                            <h2 ><b class="Align-left">{{ item.GName }}</b> <span  class="Align-right ContentFontSize"> {{ item.time }}</span></h2>
                            <br>
                            <h3 class="ContentFontSize">{{ item.Data }} <span class="Align-right"> <ion-badge  color="success" (click)="GoToInnerPage(item.Name)" >{{ item.Count }}</ion-badge></span></h3>
                          </ion-label>
               </ion-item>
            </ion-list>
   
  </div>


</div>


</ion-content>

  

