.main-container {
    border: 1px solid transparent; 
    background: gray;
    // padding: 5px;
    height: 209px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background: #8080801c;
}
.InnerPadding {
    padding: 25px;
}
.Title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}
.margintopCSS{
    margin-top:10px;

}
.Background {
    --background: #4046510f;
}
.Align-center{
    text-align: center;
    
}