<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding >  
  <img align="center"  src="http://railsgirls.com/images/buenosaires/Google.png" alt="TestImage">
  <form #LoginForm ="ngForm" >
      <ion-list>
          <ion-item>
            <ion-label stacked>User name</ion-label>
            <ion-input type="text"  aria-required="true"  name="username" [(ngModel)]="model.username"  ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" aria-required="true" name="password"  [(ngModel)]="model.password" ></ion-input>
          </ion-item>
         </ion-list>
        <ion-button expand="full"  color="primary" size="large" (click)="login()"  >Login</ion-button>
  </form>

</ion-content>
